PG__USER=user
PG__PASSWORD=pass
PG__HOST=postgres
PG__NAME=tg_bot
PG__PORT=5432

DEBUG=true
UV_NO_DEV=1

GRAFANA__PASSWORD=admin123
GRAFANA__USER=admin
TG__BOT_TOKEN=
TG__BOT_ENABLED=true

REDIS__PASSWORD=
REDIS__PORT=


VK_BOT_TOKEN=vk1.a.xxxx
VK_BOT_GROUP_ID=
VK_BOT_ENABLED=true